.fees {
  height: 50vh;
  background-color: #fff;
  width: 100vw;
  padding: 70px;
}

.container img {
  float: right;
  height: 350px;
  margin-right: 100px;
  margin-left: 70px;
}

@media only screen and (max-width: 720px) {
  .fees {
    
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  .container {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}