@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
.about {
  height: 60vh;
  width: 100vw;
  padding: 50px;
  background-color: #fff;
}
.divider {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: 500;
}
.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: "Courgette", cursive;
  font-style: italic;
}
p {
  padding: 100px;
}

.files {
  float: left;
  height: 55vh;
}

@media only screen and (max-width: 720px) {
  .about {
    align-content: center;
    justify-content: center;
    width: 120%;
    height: 85vh;
  }
}
