@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
.about {
  height: 33vh;
  padding: 40px;
  background-color: #fff;
}
.divider {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: 500;
}

h2 {
  font-family: "Courgette", cursive;
  font-style: italic;
}
p {
  padding: 20px;
}

.files {
  float: left;
  height: 55vh;
}

@media only screen and (max-width: 720px) {
  .about {
    align-content: center;
    justify-content: center;
    width: 120%;
    height: 85vh;
  }
}
