.credentials {
  height: 33vh;
  background-color: #fff;
  padding: 40px;
}
.credentialsContainer {
  margin-left: 150px;
  padding: 20px;
}

@media only screen and (max-width: 720px) {
  .credentials {
    align-items: center;
    justify-content: center;
      width: 100vw;
      height: 50vh;
  }
}