.credentials {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  padding: 40px;
}
.credentialsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
/* 
@media only screen and (max-width: 720px) {
  .credentials {
    margin-top: 400px;
    height: 90%;
  }
  .credentialsContainer {
    padding: 0px;
    margin-left: 80px;

  }
} */
