.contact {
  margin-top: 60px;
  height: 42vh;
  padding: 60px;
}

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.files {
  height: 400px;
}
