.contact {
  height: 42vh;
  background-color: #fff;
  width: 100vw;
  padding: 20px;

}

.contactContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.files {
  height: 400px;
}

