.contact {
  margin-top: 5px;
  height: 42vh;
  padding: 60px;
}

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.files {
  height: 400px;
}


@media only screen and (max-width: 720px) {
  .contact {
    align-items: center;
    justify-content: center;
      width: 100vw;
      height: 100vh;
  }
  .contactContainer {
    display: inline-block;
    align-content: center;
    justify-items: center;
      width: 100vw;
      height: 100vh;
  }
}